.category {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	/* font-family: "Poppins", sans-serif;  */
}

.cat1 {
	/* border: 1px solid #111; */
	width: 100%;
	height: 140px;
	display: flex;
	flex-direction: row;
}
.top {
	/* border: 1px solid red; */
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 140px;
}


.head-catg {
	font-size: 18px;
	color: slategray;
	margin-left: 140px;
	margin-bottom: 0;
}

.sub-catg {
	margin-top: 10px;
	font-weight: 900;
	font-size: 45px;
	margin-left: 100px;
}
.top-img {
    width: 160px;
}
.plus {
	height: 100px;
	width: 160px;
	z-index: -100;
}

.services {
	/* border: 1px solid blue; */
	height: 250px;
	display: flex;
	flex-direction: row;
}
.serv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
	width: 190px;
	/* border: 1px solid red; */
	height: 100%;
	z-index: 10;
}
.img-serv {
	height: 50px;
	width: 50px;
	z-index: 1;
}
.bg-flight {
	position: relative;
	right: -80px;
	top: 210px;
	height: 80px;
	width: 80px;
	z-index: -1;
}
.flight-img {
	height: 90px;
	width: 90px;
	z-index: 100;
}
.flightss {
	position: relative;
	top: -19px; 
}
.head {
	font-size: 18px;
	font-weight: 550;
	margin-bottom: 0;
}
.discrip {
	padding: 20px;
	margin-top: 2px;
	color: #a7a0a0;
}
.custom {
	width: 160px;
}
.weather {
	margin-left: 180px;
}
.serv:hover {
	cursor: pointer;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border-radius: 24px;
}