@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins:wght@400;600;700&family=Roboto&family=Volkhov:wght@700&display=swap");


body {
	/* font-family: "Poppins", sans-serif; */
	font-size: 17px;
	margin: 0;
}

.bg {
	float: right;
	height: 42%;
	width: 42%;
	z-index: 1;
}

.selling {
	font-family: "Poppins", sans-serif;
	margin-top: 100px;
}
.seller {
	position: relative;
	width: 50%;
}
.sell-catg {
	position: relative;
	margin-left: -100;
}
.cat2 {
	/* border: 1px solid #000; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.country:hover {
	cursor: pointer;
}
.country {
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	border-radius: 26px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	z-index: 2;
}
.europe {
	margin-left: -50px;
}
.bg-country {
	height: 250px;
	width: 100px;
	position: relative;
	top: 60px;
	right: -340px;
	z-index: 1;
}
.img-travel {
	/* border: 1px solid red;	 */
	margin-bottom: 0;
	/* border-radius: 22px; */
}
.destinantion {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px;
	height: 10px;
}
.duration {
	display: flex;
	flex-direction: row;
	padding: 15px;
	align-items: center;
	z-index: 2;
}
.img-sign {
	width: 30px;
	height: 20px;
}
.days {
	margin-left: 10px;
}




@media screen and (max-width: 800px){
	.menu {position:relative}
	.menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	.menu ul.sub-menus {width:100%;position:static;}
	.menu ul.sub-menus a {padding-left:30px;}
	.menu li {display:block;float:none;width:auto;}
	.menu input, #menu label {position:absolute;top:0;left:0;display:block}
	.menu input {z-index:4}
	.menu input:checked + label {color:white}
	.menu input:checked + label:before {content:"\00d7"}
	.menu input:checked ~ ul {display:block}
}
